doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Varnish Cache
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-dark.bg-dark
      span.navbar-brand.mb-0.h1 CriticalCase - Varnish Manager
    .container-fluid
      br
      h3 Fill in the forms to continue:
      br
      #res
      form.form-inline
        .form-group.mx-sm.col-3
          input#domain.form-control.col-sm(name='domain', type='text', placeholder='Domain I.g: google.com')
        .form-group.col
          br
          br
          br
          input#data.form-control.col-sm-5(name='data', type='text', placeholder='Path: I.g: x.com/file.png')
        .form-group.mx-sm-3
          button#sbm.btn.btn-primary Purge
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script.
      $(document).ready(function() {
      var urlParams = new URLSearchParams(location.search);
      if (urlParams.has('domain')) {
      $("#domain").val(urlParams.get('domain'));
      }
      if (urlParams.has('data')) {
      $("#data").val(urlParams.get('data'));
      }
      $("#sbm").click(function() {
      var domain = $("#domain").val();
      var data = $("#data").val();
      if (data && domain) {
      if (!domain) alert("Please fill in domain");
      $.post("/api/purge", {
      domain: domain,
      data: data
      }, function(postresult) {
      alert(postresult.status);
      });
      var urlParams = new URLSearchParams(location.search);
      } else {
      if (!domain) alert("Please fill in domain");
      $.post("/api/purge", {
      domain: domain,
      }, function(postresult) {
      alert(postresult.status);
      });
      }
      });
      });
